body {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    min-height: 100vh;
}

nav {
    background-color: rgb(95, 74, 214);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* İçeriği sağa yasla */
    width: 100%;
    box-sizing: border-box;
    height: 70px;
}

#menuList {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

#transactions {
    color: white;
    font-weight: bold;
}

#logoutBtn {
    background: transparent;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

#container {
    margin-top: 50px;
}
#buttons {
    display: flex;
    align-items: end;
    gap: 10px;
    justify-content: space-between;
}
